.wrapper-login{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--theme-bg);
}

.box-login{
    margin:25px 0px;
    width: 20vw;
    font-size: 14px;
    color:rgb(202, 198, 198);
}

.box-login > .MuiFormControl-root{
    margin:15px 0px;
    width: 100%;
}
.box-login .MuiCheckbox-root{
    color:white ;
}

.box-login .MuiCheckbox-colorSecondary.Mui-checked{
    color:var(--primary-bg);
}
.box-login .MuiInputBase-input,
.box-login .MuiInputLabel-outlined {
    color:white !important;
}

.box-login .MuiOutlinedInput-notchedOutline{
    border-color: white !important;
}

.icon-logo{
    height: 122px;
    width: 110px;
}


.box-login input:-webkit-autofill,
.box-login input:-webkit-autofill:hover, 
.box-login input:-webkit-autofill:focus,
.box-login textarea:-webkit-autofill,
.box-login textarea:-webkit-autofill:hover,
.box-login textarea:-webkit-autofill:focus,
.box-login select:-webkit-autofill,
.box-login select:-webkit-autofill:hover,
.box-login select:-webkit-autofill:focus {
    /* border: 1px solid green; */
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}