.box-profile{
    display: flex;
    flex-direction: column;
    padding:25px;
}
.box-profile > button{
    margin:15px 0px;
}
.img-profile{
    height: 179px;
    width: 179px;
    margin-bottom: 25px;
    object-fit: cover;
}


.box-information{
    flex:1;
}



.wrapper-candidate-info{

}

.box-candidate-info:first-child{
    border-radius: 0px 5px 5px 5px;
}


.box-candidate-info{
    margin:0;
    width: 100%;
    padding:30px 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    min-height: 10vh;
    background-color: #34343C;
}

.box-information  .MuiTab-root{
    background-color:var(--primary-bg);
    opacity: 1;
    /* border-radius: 5px 0px 5px 0px; */
}

.box-information  .MuiTab-root:first-child{
    border-radius: 5px 0px 0px 0px;
}
.box-information  .MuiTab-root:last-child{
    border-radius: 0px 5px 0px 0px;
}

.box-information .MuiTab-textColorInherit.Mui-selected{
    background-color:  #34343C;
}

.box-information .PrivateTabIndicator-colorSecondary-9,
.box-information .PrivateTabIndicator-colorSecondary-11,
.box-information .PrivateTabIndicator-colorSecondary-7{
    background-color:#34343C;
}

.box-information .MuiInputBase-input{
    background-color:#20232B;
    border-color: #20232B;
    color:white;
}
.no-view{
    opacity: 0;
    left:-200vw;
    position: absolute;
}

.box-attachment button{
    margin-left: 15px;
}

.box-attachment > h4{
    margin:0px;
}
.box-attachment{
    margin:25px 0px;
}
.box-candidate-info{
    grid-gap: 30px;
}
.box-candidate-info .MuiFormControl-root,
.box-candidate-info .MuiOutlinedInput-root{
    width: 100% ;
}
.box-candidate-info .MuiSelect-icon{
    top: calc(62% - 12px);
}
.wrong-value{
    border-left:3px solid crimson  !important;
    z-index: 50;
    /* font-weight: bolder !important; */
}

.wrong-value:focus{
    outline:none !important;
}